<!-- gameList.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Game List</title>
</head>
<body>
  <div class="navbar">
    <a href="index.html">Log in</a>
    <a href="createGame.html">Create Game</a>
    <a href="gameList.html">Matchplay</a>
    <a href="vault.html">Vault</a>
    <a href="profile.html">Profile</a>
    <a href="signup.html">Sign Up</a>
</div>
  <h1 class="title">Game List</h1>
  <div class="game-list-container">
    <ul>
      <!-- Render a list of games dynamically -->
      <% games.forEach(game => { %>
        <li><%= game.name %> - <%= game.description %> (Created by <%= game.createdBy %>)</li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
